@import './../../scss_variables/colors.scss';

.main-section {
  width: 500px;
  height: 500px;
  background-color: $bright-main-color;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
