//backgrounds

$dark-main-color: #101022;
$bright-main-color: #f6f6f6;
$issue-color: #ffffff;

//system colors

$red-system-button: #ff594f;
$yellow-system-button: #ffbc1b;
$green-system-button: #00cd46;