//backgrounds

$dark-main-color: #101022;
$bright-main-color: #f6f6f6;
$issue-color: #ffffff;

//system colors

$red-system-button: #ff594f;
$yellow-system-button: #ffbc1b;
$green-system-button: #00cd46;

//filter colors

$selected-filter: #292a48;
$filter-number: #8a8995;

//isues colors

$issue-description-color: #080606;
$issue-date: #8a8995;
$issue-border: #e0e0e0;
$issue-icon-done: #21233d;
$issue-icon-open: #f6f6f6;
